$color-primary: #195CDC;
$color-primary-highlight: darken($color-primary, 5%);

$color-dark: #171717;
$color-light: #f1f1f1;
$color-danger: #bf1d4a;
$color-success: #85D79B;
$color-warning: #FDBF61;

$color-page-bg: #f8f8f8;
$color-content-bg: #f1f1f1;
$color-modal-bg: #f1f1f1;

$color-text-regular: $color-dark;
$color-text-light: $color-light;

$color-shadow: rgba(#000, 0);
$color-shadow-highlight: rgba(#000, .15);
